.clearfix:before,
.clearfix:after {
    content: "";
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}

.container {
    max-width: 480px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    position: relative;
    left: 50%;
    margin-left: -250px;
}

select, input[type=date] {
    width: 17em;
    line-height: 2em;
    padding-left: 0px;
}

input[type=date] {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
}

input[type=date]:focus {
    box-shadow: 0 0 5px #999999;
}

input[type=button] {
    border: 1px solid #2BA6CB;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 4px;
    border-radius: 3px;
    background-color: #2BA6CB;
    color: #FFFFFF;
    float: left;
}

input[type=button]:hover {
    background-color: #2284A1;
}

.anlyzinglog-tb tbody tr td {
    padding-top: 8px;
    height: 30px;
    line-height: 30px;
}

.anlyzinglog-tb  td:first-child {
    width: 150px;
    text-align: right;
}

.anlyzinglog-tb td:last-child {
    padding-left: 20px;
    width: 300px;
}

.anlyzinglog-tb tbody .last-tr td {
    width: 400px;
}

.loadingDiv {
    background: url(../images/loading.gif) no-repeat;
    display: block;
    width: 35px;
    margin-left: 20px;
    padding: 15px;
    float: left;
}

.loadingDiv.displayNone {
    display: none;
}